:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.profile__heading {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) { */
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
/* } */


b {
  font-weight: bold;
}

.project-card__title--sub {
  font-size: small;
  font-weight: 600;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

ul {
  list-style: none;
  padding-left: 0;
}

.main-contents {
  max-width: 600px;
  padding: 16px 16px 42px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: #f7f7f7;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link-list__item:hover .link-item__text {
  text-decoration: underline;
}

/* .link-item__text {
  vertical-align: middle;
} */

.link-item {
  display: flex inline;
  align-items: center;
  font-size: small;
  gap: 0.5rem;
  color: #777777;
}

.link-item__icon {
  width: 24px;
  height: 24px;
  align-self: start;
}

.profile__heading {
  font-size: xx-large;
  font-weight: 800;
}

.profile__description {  
  word-break: keep-all;
}

.section-heading {
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 1rem;
}

.project-card__title {
  font-size: x-large;
  font-weight: 800;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;

}

.contents__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contents__item:not(:last-child) {
  border-bottom: #77777777 0.5px solid;
  padding-bottom: 2rem;
}

.link-item .link-item__icon--trailing {
  width: 16px;
  height: 16px;
  font-size: small;
  padding-left: 0.25rem;
  vertical-align: middle;
}

.model-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-viewer {
  padding: 2rem 0;
}

.model-viewer__canvas {
  background: linear-gradient(to right, rgba(191, 55, 106, 0.7), rgba(137, 110, 200, 0.7));
  aspect-ratio: 1 / 1;
  width: 80%;
  border-radius: 50%;
}

.head-title {
  font-size: x-large;
  font-weight: 600;
}
